# How to change column names in Panda

In [2]:
import pandas as pd

In [4]:
# Make an example data frame
df = pd.DataFrame({"a" : [1, 2, 3],
                   "b" : ["x", "y", "z"]})
df

   a  b
0  1  x
1  2  y
2  3  z

In [6]:
# Change the column name using the rename method
df = df.rename(columns = {"a" : "Column A", "b" : "Column B"})
df

   Column A Column B
0         1        x
1         2        y
2         3        z