# Split the string in the data frame column and make into 2 new columns

In [1]:
import pandas as pd

In [3]:
# Simple data frame
df = pd.DataFrame({"Column A" : ["a", "b", "c"], "Column B" : ["a-b", "b-c", "c-d"]})
df

  Column A Column B
0        a      a-b
1        b      b-c
2        c      c-d

In [9]:
## Split the string
df_splt = df["Column B"].str.split('-', expand=True)
## Rename the df split columns
df_splt.columns = ["Column B1", "Column B2"]
## concat the original data frame and the split data frame
df = pd.concat([df, df_splt], axis = 1)
df

  Column A Column B Column B1 Column B2 Column B1 Column B2
0        a      a-b         a         b         a         b
1        b      b-c         b         c         b         c
2        c      c-d         c         d         c         d